@media (max-width: 991px) {
    .features{
        &__item{
            width: 198px;
        }
    }
    .consultation{
        .title{
            font-size: 32px;
        }
    }
}
@media (max-width: 767px) {
    .header{
        flex-direction: column;
        &__official{
            margin-top: 24px;
        }
        &__contacts{
            margin-top: 20px;
        }
        .button{
            width: 167px;
            height: 41px;
            font-size: 14px;
        }
    }
    .features{
        &__wrapper{
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__item{
            width: 50%;
            margin-top: 21px;
        }
    }
    .consultation{
        .title{
            font-size: 23px;
        }
    }

}
@media (max-width:575px) {
    .promo{
        &__header{
            font-size: 33px;
            text-align: center;
        }
        &__subheader{
            text-align: center;
        }
        &__icons{
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__icon{
            width: 100%;
            margin-top: 30px;
        }
        .button{
            &__main{
                width: 70%;
            }
        }
    }
    .features{
        &__item{
            width: 80%;
        }

    }
    .consultation{
        .title{
            font-size: 20px;
        }
        &__subtitle{
            font-size: 18px;
        }
        .feed-form{
            width: 87%;
        }
    }
}