.consultation{
    background: url(../img/bg_consultation.png) center center/cover no-repeat;
    padding: 100px 0 91px 0;
    &__subtitle{
        margin-top: 80px;        
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }
}