.promo{
    min-height: 650px;
    background: url(../img/bg_promo.png) center center/cover no-repeat;
    padding: 24px 0 93px 0;
    &__wrapper{
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__header{
        font-size: 42px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader{
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__icons{
        margin-top: 66px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        width: 108px;
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &__descr{
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }
    &__link{
        margin-top: 18px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        a{
            text-decoration: underline;
            text-transform: uppercase;
            color: #ffffff;
            &:hover{
                color: #ffffff;
            }
        }
    }
    .button__main{
        width: 300px;
        height: 50px;
        margin-top: 67px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
}
